In [1]:
import pandas as pd
import yfinance as yf
import h5py
import yaml
import os
from sklearn.preprocessing import MinMaxScaler

with open(os.path.join('config.yaml')) as stream:
    config = yaml.safe_load(stream)

In [35]:
data = config["dataset"]["data"]
df = yf.download([data])

[*********************100%***********************]  1 of 1 completed

In [36]:
df = df.filter(['Close'])

In [37]:
days = config["dataset"]["days"]
df = df.dropna().tail(days)

In [38]:
df.shape

(1000, 1)

In [39]:
filename = data + '.h5'
filename

'BTC-USD.h5'

In [40]:
data_path = config["dataset"]["data_path"]

In [41]:
df.tail(10)

                   Close
Date
2020-05-29   9439.124023
2020-05-30   9700.414062
2020-05-31   9461.058594
2020-06-01  10167.268555
2020-06-02   9529.803711
2020-06-03   9656.717773
2020-06-04   9800.636719
2020-06-05   9665.533203
2020-06-06   9653.679688
2020-06-07   9620.460938

In [42]:
prices = []
dates = []
for date,price in df.to_dict()['Close'].items():
    dates.append(date.timestamp())
    prices.append(price)

In [43]:
with h5py.File(os.path.join(data_path,filename), 'w') as file:
    date_dataset = file.create_dataset("Date", data=dates)
    price_dataset = file.create_dataset("Price", data=prices)